<div class="ui segment">
  <h3 class="ui header">თანხის გადარიცხვა</h3>

  <div class="ui grid">
    <div class="ten wide column">
      <form class="ui form" [formGroup]="pmdForm" (ngSubmit)="onSubmit()">

        <div class="field">
          <label>ანაგარიში</label>
          <select formControlName="carrierAccount" class="ui dropdown">
            <option value="">აირჩიეთ</option>
            <option *ngFor="let account of carrierAccounts" [value]="account.id">
              {{ account.id }} - {{ account.amount }}GEL ({{ account.accountName }})
            </option>
          </select>
          <div *ngIf="pmdForm.get('carrierAccount')?.invalid && pmdForm.get('carrierAccount')?.touched"
               class="ui red message">
            <div *ngIf="pmdForm.get('carrierAccount')?.errors?.['requiredField']">
              {{ pmdForm.get('carrierAccount')?.errors?.['requiredField'] }}
            </div>
          </div>
        </div>

        <div class="field">
          <label>მიმღები ანგარიში</label>
          <select formControlName="receiverAccount" class="ui dropdown">
            <option value="">აირჩიეთ</option>
            <option *ngFor="let account of receiverAccounts" [value]="account.id">
              {{ account.id }} - {{ account.amount }}GEL ({{ account.accountName }})
            </option>
          </select>
          <div *ngIf="pmdForm.get('receiverAccount')?.invalid && pmdForm.get('receiverAccount')?.touched"
               class="ui red message">
            <div *ngIf="pmdForm.get('receiverAccount')?.errors?.['requiredField']">
              {{ pmdForm.get('receiverAccount')?.errors?.['requiredField'] }}
            </div>
          </div>
        </div>

        <div class="field">
          <label>თანხა</label>
          <input type="number" formControlName="amount" placeholder="თანხა">
          <div *ngIf="pmdForm.get('amount')?.invalid && pmdForm.get('amount')?.touched" class="ui red message">
            <div *ngIf="pmdForm.get('amount')?.errors?.['requiredField']">
              {{ pmdForm.get('amount')?.errors?.['requiredField'] }}
            </div>
            <div *ngIf="pmdForm.get('amount')?.errors?.['minNumber']">
              {{ pmdForm.get('amount')?.errors?.['minNumber'] }}
            </div>
          </div>
        </div>

        <!-- Submit Button -->
        <button class="ui green icon button" [disabled]="pmdForm.invalid">
          <i class="check icon"></i>
        </button>
      </form>
    </div>
  </div>
</div>
