<form class="ui form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-company-logo></app-company-logo>

  <app-auth-form-field
    iconClass="user icon"
    type="text"
    placeholder="მომხმარებელი"
    fieldId="username"
    [control]="loginForm.controls['username']">
  </app-auth-form-field>

  <app-auth-form-field
    iconClass="lock icon"
    type="password"
    placeholder="პაროლი"
    fieldId="password"
    [control]="loginForm.controls['password']">
  </app-auth-form-field>

  <app-auth-button-field
    href="/auth/register"
    hrefText="რეგისტრაცია"
    [disabled]="loginForm.invalid"
    submitText="შესვლა"
    iconClass="sign-in icon">
  </app-auth-button-field>
</form>
