<div class="ui segments">
  <div class="ui segment">
    <div class="ui grid">
      <div class="four wide column">
        <img
          class="ui rounded image"
          src="path-to-image.jpg"
          alt="Product Image"
          style="max-width: 100%;"
        />
      </div>

      <div class="six wide column">
        <div class="content">
          <h3 class="ui header">{{ clientName }}</h3>
          <p>უნიკალური კოდი: <strong>{{ clientId }}</strong></p>
        </div>
      </div>

      <div class="three wide column">
        <div class="content">
          <p>ღირებულება: <strong style="color: green;">{{totalAmount}}</strong></p>
          <p>Plus: <strong>{{ plusPoints }}</strong></p>
        </div>
      </div>

      <div class="two wide column">
        <button class="ui red button" (click)="onLeaveClick()">გასვლა</button>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <div class="ui three item menu">
      <a class="item" (click)="navigateWithParams('/krn/krnicp')" routerLinkActive="active">მთავარი</a>
      <a class="item" (click)="navigateToAccounts('/krn/accounts')" routerLinkActive="active">ანგარიშები</a>
      <a class="item" (click)="navigateWithParams('/krn/operations')" routerLinkActive="active">ოპერაციები</a>
    </div>
  </div>


  <router-outlet></router-outlet>
</div>

