<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class ="form-section">
    <div class="logo-container">
      <div class="logo"></div>
    </div>

    <app-auth-form-field
      iconClass="fas fa-user"
      type="text"
      placeholder="მომხმარებელი"
      fieldId="username"
      [control]="registerForm.controls['username']">
    </app-auth-form-field>

    <app-auth-form-field
      iconClass="fas fa-id-badge"
      type="text"
      placeholder="სახელი"
      fieldId="name"
      [control]="registerForm.controls['name']">
    </app-auth-form-field>

    <app-auth-form-field
      iconClass="fas fa-id-badge"
      type="text"
      placeholder="სახელი"
      fieldId="name"
      [control]="registerForm.controls['name']">
    </app-auth-form-field>

    <app-auth-form-field
      iconClass="fas fa-lock"
      type="text"
      placeholder="პაროლი"
      fieldId="password"
      [control]="registerForm.controls['password']">
    </app-auth-form-field>

    <app-auth-form-field
      iconClass="fas fa-lock"
      type="text"
      placeholder="განმეორებითი პაროლი"
      fieldId="confirmPassword"
      [control]="registerForm.controls['confirmPassword']">
    </app-auth-form-field>

    <div class="form-group-button">
      <a href="/auth" class="login-link">შესვლა</a>

      <button type="submit" [disabled]="registerForm.invalid" class="btn-submit">
        <i class="fas fa-user-plus"></i>
        რეგისტრაცია
      </button>
    </div>
  </div>
</form>
