.register-container {
  height: 100vh;
}

.company-photo {
  height: 100vh;
  object-fit: cover;
}

.photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 20%, transparent 20%, transparent 80%, rgba(0, 0, 0, 0.5) 80%);
  background-size: 10px 10px;
}
