<div class="ui segment">
  <h2 class="ui header">ანგარიშები</h2>
  <div class="ui segment">
    <div class="ui grid">
      <div class="eight wide column">
        <h3 class="ui header">ანგარიშები</h3>
      </div>
      <div class="eight wide column right aligned">
        <button class="ui icon button" (click)="addAccount()">
          <i class="plus icon"></i>
        </button>
      </div>
    </div>
  <table class="ui celled table">
    <thead>
    <tr>
      <th>მფლობელი</th>
      <th>სახელი</th>
      <th>თანხა</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let account of accounts">
      <td>{{ account.name }}</td>
      <td>{{ account.accountName }}</td>
      <td>{{ account.amount }}</td>
      <td><i class="trash icon delete-icon" (click)="onDelete(account)"></i></td>
    </tr>
    </tbody>
  </table>
  </div>
</div>

