<!-- Profile Section -->
<div class="item profile-section">
  <div class="ui medium image background-container">
    <img [src]="backgroundImageUrl" alt="Background Image" class="background-img">
  </div>
  <div class="profile-details">
    <img [src]="profileImageUrl" alt="Profile Picture" class="ui avatar image profile-avatar">
    <div class="content user-info">
      <div class="header">{{ username }}</div>
    </div>
  </div>
</div>
<a routerLink="/bpm/bpm000" routerLinkActive="active" class="item">
  <i class="home icon"></i> მთავარი
</a>
