<div class="sidebar">
  <div class="profile">
    <div class="background">
      <img class="background-img" [src]="backgroundImageUrl" alt="Background Image">
    </div>
    <div class="profile-details">
      <img class="profile-pic" [src]="profileImageUrl" alt="Profile Picture">
      <div class="user-info">
        <div class="username">{{ username }}</div>
        <div class="status">{{ status }}</div>
      </div>
    </div>
  </div>
  <div class="nav">
    <a routerLink="/bpm/bpm000" routerLinkActive="active" class="nav-item">
      <i class="fa fa-home"></i> მთავარი
    </a>
  </div>
</div>
